/*
Author: Zaid Mahdi 

Refrncess : 
http://www.w3schools.com/
http://trygadesign.com/
http://www.flyingbird.at/
*/




/* ----------- Gallery style -------------*/

.ngg-galleryoverview {
	overflow: hidden;
	margin-top: 10px;
	width: 100%;
	clear:both; 
	display:block !important;
}

.ngg-galleryoverview .desc {
/* required for description */
   margin:0 10px 10px 0;
   padding:5px;
}

.ngg-gallery-thumbnail-box {
	float: left;
}

.ngg-gallery-thumbnail {
	float: left;
	margin:0 7px 7px 0;
	text-align: center;
}

.ngg-gallery-thumbnail img {
	background-color:#554a34;
	border: 1px solid #554a34;
	display:block;  
	margin:4px 0 4px 5px;
	padding:4px;
	position:relative;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

.ngg-gallery-thumbnail img:hover {
	background-color: #7c7b39;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
} 

.ngg-gallery-thumbnail span {
	/* Images description */
	font-size:90%;
	padding-left:5px;
	display:block;
}

.ngg-clear {
	clear: both;
}

